html,
body,
#app {
  min-height: 100% !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-weight: normal;
  line-height: 2em;
  padding: 0;
  margin: 0;
  color: #303080;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

p,
li {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #4c76fa;
}

a:hover {
  text-decoration: underline;
}

code {
  font-size: 0.9em;
  background: #eef;
  margin: 0 5px;
  padding: 0 2px;
  border-radius: 5px;
}

hr {
  height: 1px;
  border: 0;
  margin: 30px 0;
  background: #4c567a;
}
