.footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 0;
  margin: 0 auto;
  color: #ddf;
  text-align: center;
}

.footer a {
  font-weight: bold;
}

.bar {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  height: 1px;
  background-color: #4c567a;
  text-align: center;
}
